auto_invite = true
auto_ban = false
group_id = "grp_f0db2b50-9440-4e8f-bd09-75870a423dd7"
avatars_file = "avatars.txt"                          # optional
custom_log_dir = "/home/whatever/something/vrchat"    # optional
